<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>under construction</title>
    <link rel="stylesheet" href="{{ static('style.css') }}">
</head>
<body>
    <div class="info">
        <h2>under construction</h2>
        <p>This site is currently under construction. Be back soon!</p>
        <div class="links">
            <a href="https://github.com/CAS-14">github</a>
            <a href="https://discord.com/users/743340045628342324">discord</a>
            <a href="mailto:nya@dr.com">email</a>
        </div>
    </div>
</body>
</html>